azure-functions==1.7.2
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
dnacentersdk==2.3.2
fastjsonschema==2.15.1
flake8==3.9.2
Flask==2.0.1
future==0.18.2
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mccabe==0.6.1
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==2.1.0
pyngrok==5.1.0
PyYAML==5.4.1
requests==2.26.0
requests-toolbelt==0.9.1
urllib3==1.26.7
webexteamssdk==1.6
Werkzeug==2.0.1
